.amenities {
    background: url("images/mgg-vitchakorn-uKrsWihnRRM-unsplash.jpg");
    background-size: cover;
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 20px;
    min-height: 200px;
}

.amenities-headings {
    flex: 1;
    font-family: KaushanScript;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 10px;
    color: darkred;
}

.amenities-icons {
    display: flex;
    justify-content: space-evenly;
}

.amenity {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    display: flex;
    border: 2px solid darkred;
    border-radius: 60px;
    justify-content: center;
    align-content: center;
    padding: 20px;
    max-width: 30px;
    max-height: 30px;
}

.amenities-icon-1 {
    content: url("icons/delivery.png");
}

.amenities-icon-2 {
    content: url("icons/food-delivery.png");
}

.amenities-icon-3 {
    content: url("icons/money.png");
}

.amenities-icon-4 {
    content: url("icons/party.png");
}

.amenities-icon-1,
.amenities-icon-2,
.amenities-icon-3,
.amenities-icon-4 {
    height: 30px;
    width: 30px;
}

.amenities-desc {
    font-family: Itim;
    text-align: center;
    margin-top: 10px;
}

.amenities-desc:hover {
    color: darkred;
    cursor: hand;
}
