.gallery {
    background: url("images/charles-deluvio-1KcbLiNwPhQ-unsplash.jpg");
    background-size: cover;
    flex: 3;
    display: flex;
    flex-direction: column;
}

.gallery-headings {
    text-align: center;
    font-size: xx-large;
    font-family: KaushanScript;
}

.gallery-content {
    display: flex;
    height: 40vh;
}

.gallery-image-1,
.gallery-image-2,
.gallery-image-3 {
    flex: 1;
    border-radius: 10px;
    margin: 10px;
    max-height: 100%;
    min-width: 0;
    object-fit: cover;
}

.gallery-image-1 {
    content: url("images/chinese-food-1.jpg");
}

.gallery-image-2 {
    content: url("images/sharon-chen-L1ZhjK-R6uc-unsplash.jpg");
}

.gallery-image-3 {
    content: url("images/drew-taylor-jFu2L04tMBc-unsplash.jpg");
}
