.navbar {
    background: url("images/miguel-maldonado-qom5MPOER-I-unsplash.jpeg");
    background-repeat: no-repeat;
    height: 35vh;
    flex: 4;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.menu {
    display: flex;
    flex: 1;
}

.main-nav-logo {
    padding-left: 5px;
    display: flex;
    padding-top: 5px;
    vertical-align: bottom;
}

.main {
    font-family: KaushanScript;
    color: white;
    font-size: x-large;
}

.main-icon {
    content: url("icons/ramen.png");
    height: 40px;
    width: 40px;
}

.nav-menu {
    display: flex;
    flex: 6;
    justify-content: center;
    justify-items: center;
    padding-inline-start: 0;
}

.nav-menu li {
    list-style: none;
    display: flex;
    margin: 5px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-family: PatrickHand;
}

li a:hover {
    color: darkred;
}

.menu-icon {
    content: url("icons/menu.png");
    height: 20px;
    width: 20px;
}

div.menu-icon:hover {
    content: url("icons/menu-hover.png");
}

.login {
    flex: 1;
    display: flex;
    padding-inline-start: 0;
    list-style: none;
    justify-content: center;
}

.login li {
    font-size: medium;
    justify-items: center;
    padding: 5px;
}

.login li a {
    font-family: PatrickHand;
    flex: 1;
    text-decoration: none;
    color: white;
    text-align: center;
}

.login li a:hover {
    color: darkred;
}

.exp {
    padding-left: 20px;
    display: flex;
    flex: 3;
}

.exp-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.exp .exp-desc span {
    font-family: KaushanScript;
    color: white;
    font-size: xx-large;
}

.exp .exp-buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.button {
    background-color: darkred;
    color: white;
    text-align: center;
    border-radius: 20px;
    border: 0;
    font-family: PatrickHand;
    font-size: medium;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: 0;
}

.button:hover {
    cursor: hand;
    color: black;
}
