.serve {
    flex: 3;
    padding-bottom: 20px;
    margin-top: 20px;
}

.serve-headings {
    flex: 1;
    display: flex;
    justify-content: center;
}

.serve-headings span {
    font-family: KaushanScript;
    font-size: xx-large;
}

.serve-content {
    flex: 4;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.serve-content-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    height: 50vh;
}

.serve-content-image-1 {
    content: url("images/4.jpeg");
}

.serve-content-image-2 {
    content: url("images/fran-hogan-0o944pEWnN0-unsplash.jpg");
}

.serve-content-image-3 {
    content: url("images/food-photographer-jennifer-pallian-OfdDiqx8Cz8-unsplash.jpg");
}

.serve-content-image-4 {
    content: url("images/andrew-wong-ieXeRR0qUFA-unsplash.jpg");
}

.serve-content-image-1,
.serve-content-image-2,
.serve-content-image-3,
.serve-content-image-4 {
    height: 25vh;
    width: 100%;
    flex: 4;
    border-radius: 10px;
    background-size: cover;
    object-fit: cover;
}

.serve-content-item-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Itim;
    margin-top: 20px;
}

.serve-content-item-text-header {
    text-align: center;
    flex: 1;
}

.serve-content-item-text-desc {
    flex: 4;
    text-align: center;
    font-size: small;
    color: gray;
    word-wrap: break-word;
}
